# LOC Y ILOC

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('./assts/bestsellers-with-categories.csv')
df[['Name', 'Author']]

,Name,Author
0,10-Day Green Smoothie Cleanse,JJ Smith
1,11/22/63: A Novel,Stephen King
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,1984 (Signet Classics),George Orwell
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero

## LOC
Busca por el key value

In [19]:
df.loc[0:4]
df.loc[:, ['Name', 'Author']]
df.loc[:, ['Price']]+1
df.loc[:5, ['Author']] == 'JJ Smith'

   Author
0    True
1   False
2   False
3   False
4   False
5   False

# ILOC
Busca por indice de las columnas

In [30]:
df.iloc[:,0:3]
df.iloc[2,3] +10
df.iloc[:2,2:]

   User Rating  Reviews  Price  Year        Genre
0          4.7    17350      8  2016  Non Fiction
1          4.6     2052     22  2011      Fiction