# Manejo de valores nulos

In [1]:
import pandas as pd
import numpy as np

In [16]:
dic = {
    'col1':[1,2,3,np.nan],
    'col2':[4,np.nan,6,7],
    'col3':['a','b','c',None]
}
df = pd.DataFrame(dic)

In [5]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

In [7]:
df.isnull()*1

   col1  col2  col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [18]:
# Manejo de valores nulos
print("Uso de string\n ",df.fillna('missing'))
print("Uso de la media\n ",df.fillna(df.mean()))
print("Interpolacion\n ",df.interpolate())

Uso de string
        col1     col2     col3
0      1.0      4.0        a
1      2.0  missing        b
2      3.0      6.0        c
3  missing      7.0  missing
Uso de la media
     col1      col2  col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None
Interpolacion
     col1  col2  col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

/tmp/ipykernel_5300/2979475927.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print("Uso de la media\n ",df.fillna(df.mean()))

In [20]:
# Eliminacion de nulos
df.dropna()

   col1  col2 col3
0   1.0   4.0    a
2   3.0   6.0    c